<html>
  <head>
    <title>Welcome to Student Management APp</title>
  </head>
  <body>
    {% include "./header.html" %}
    <h1>Student Management App</h1>
    <h3><a href="{{'create' }}">Create Students +</a></h3>
    <table border="3">
      <thead>
        <tr>
          <th>sl</th>
          <th>name</th>
          <th>age</th>
          <th>bio</th>
          <th>Verified</th>
          <th>Joined on</th>
        </tr>
      </thead>
      <tbody>
        {%for student in students%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{student.name}}</td>
          <td>{{student.age}}</td>
          <td>{{student.bio}}</td>
          <td 
           {% if student.is_verified %} 
          style="background-color:green;color:white" 
          {%else%}
           style="background-color:red;color:white" 
          {%endif%}>
          {{student.is_verified}}
        </td>
          <td>{{student.joined_on}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </body>
</html>
