<html>
  <head>
    <title>Welcome to Student Management APp</title>
  </head>
  <body>
    
    {% include "./header.html" %}
    <h1>Student Management App</h1>
    
    <table border="3">
      <thead>
        <tr>
          <th>sl</th>
          <th>name</th>
          <th>age</th>
          <th>active</th>
        </tr>
      </thead>
      <tbody>
        {%for student in peoples%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{student.name}}</td>
          <td {% if student.age > 20 %} style="background-color:green"
            {% endif %}> {{ student.age }}
          </td>
          <td>{%if student.active == True %} ✅ {%else%} ❌ 
            {%endif%}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </body>
</html>
